@media (max-width: 800px) {
    #logo1 {
      display: none;
    }
    #logo2 {
      display: none;
    }
  }
@media (min-width:800px){
    #background{
        width:100%;
    }
}
@media (max-width:800px){
    #background{
        height:300px;
    }
}

.dropdown-menu{
  background: black !important;
}

.nav-link{
  color: white !important;
}
.sizec{
  font-size: 20px;

}
.mainh{
 font-size: 39px;
}
.center{
  text-align: left;
}